
@font-face {
  font-family: "JetBrains Mono";
  src: url(/JetBrainsMono-Medium.ttf);
}

a:hover {
  color: rgb(53, 51, 51);
}

.buttons {
  img:hover {
    border: 5px solid #FFF;
  }
}

.container {
  display: flex;
  height: 75.5vh; /* optional but useful */
  gap: 12px;
}

.left {
  flex: 2; /* takes more horizontal space */
  font-style: #0000;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box {
  padding: 16px;
  /* background: #eaeaea; */
  background-color: black;
  opacity: 60%;
  border: 1px solid #275577;
  opacity: 80%; 
}

.i3bar {
  background-color: #275577;
  position: absolute;
  text-align: justify;
  margin-top: -17px;
  width: 470px;
  margin-left: -17px;
  color: white;
}

p {
  color: white;
}

h1 {
  color: white;
}

center {
  margin: auto;
  width: 700px; 
  padding: 50px;
}  

li {
  color: black;